.registerForm {
  max-width: 600px;
  margin: 60px auto;
}

:global(.ant-form-item-label) :global(.ant-form-item-required){
  color: #fff;
}

:global(.ant-form-item) :global(.icp-selector){
  width: 55px;
}

:global(.ant-checkbox-wrapper) span{
  color: #fff;
}